Scenario1/flows.json
[
    {
        "id": "579843f855f038fe",
        "type": "tab",
        "label": "Projet service archi",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "31ba7d7960f839d3",
        "type": "mqtt in",
        "z": "579843f855f038fe",
        "d": true,
        "name": "Tout",
        "topic": "Tout",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1b01beee92d833de",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 180,
        "wires": [
            [
                "09a17d114021f666",
                "ce5eb1c8bd97b7ad",
                "1fd23f306e3ff6a9",
                "d4ea55a63125dad8"
            ]
        ]
    },
    {
        "id": "09a17d114021f666",
        "type": "debug",
        "z": "579843f855f038fe",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "ce5eb1c8bd97b7ad",
        "type": "ui_text",
        "z": "579843f855f038fe",
        "group": "60c7fa626cf1876b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "STATE_DISPLAY",
        "label": "",
        "format": "T outdoor: {{msg.payload}}°C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "e7fe90eca3ff45f0",
        "type": "ui_audio",
        "z": "579843f855f038fe",
        "d": true,
        "name": "",
        "group": "60c7fa626cf1876b",
        "voice": "urn:moz-tts:sapi:Microsoft Julie - French (France)?fr-FR",
        "always": true,
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "1fd23f306e3ff6a9",
        "type": "ui_toast",
        "z": "579843f855f038fe",
        "d": true,
        "position": "top right",
        "displayTime": "1",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Tout",
        "name": "",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "530d1d23455ca287",
        "type": "mqtt in",
        "z": "579843f855f038fe",
        "d": true,
        "name": "Tin",
        "topic": "Tin",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1b01beee92d833de",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "ec315266ad92c231",
                "a27a37912a3d4fa6",
                "8eb2f373141c40c4",
                "f80016954e8b8805"
            ]
        ]
    },
    {
        "id": "ec315266ad92c231",
        "type": "debug",
        "z": "579843f855f038fe",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 420,
        "wires": []
    },
    {
        "id": "a27a37912a3d4fa6",
        "type": "ui_text",
        "z": "579843f855f038fe",
        "group": "60c7fa626cf1876b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "STATE_DISPLAY",
        "label": "",
        "format": "T indoor: {{msg.payload}}°C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 690,
        "y": 460,
        "wires": []
    },
    {
        "id": "809d6c76c4b425de",
        "type": "ui_audio",
        "z": "579843f855f038fe",
        "d": true,
        "name": "",
        "group": "60c7fa626cf1876b",
        "voice": "urn:moz-tts:sapi:Microsoft Julie - French (France)?fr-FR",
        "always": true,
        "x": 780,
        "y": 540,
        "wires": []
    },
    {
        "id": "8eb2f373141c40c4",
        "type": "ui_toast",
        "z": "579843f855f038fe",
        "d": true,
        "position": "bottom right",
        "displayTime": "1",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Tin",
        "name": "",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "88e49b8df3fa88fc",
        "type": "mqtt out",
        "z": "579843f855f038fe",
        "d": true,
        "name": "Tout",
        "topic": "Tout",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1b01beee92d833de",
        "x": 1190,
        "y": 400,
        "wires": []
    },
    {
        "id": "76e1bda493cf562d",
        "type": "inject",
        "z": "579843f855f038fe",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Tout",
        "payload": "9",
        "payloadType": "str",
        "x": 970,
        "y": 400,
        "wires": [
            [
                "88e49b8df3fa88fc"
            ]
        ]
    },
    {
        "id": "cd5f0374b187c222",
        "type": "mqtt out",
        "z": "579843f855f038fe",
        "d": true,
        "name": "Tin",
        "topic": "Tin",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1b01beee92d833de",
        "x": 1190,
        "y": 440,
        "wires": []
    },
    {
        "id": "6a833e99b345841d",
        "type": "inject",
        "z": "579843f855f038fe",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Tin",
        "payload": "25",
        "payloadType": "str",
        "x": 970,
        "y": 440,
        "wires": [
            [
                "cd5f0374b187c222"
            ]
        ]
    },
    {
        "id": "d4ea55a63125dad8",
        "type": "convert",
        "z": "579843f855f038fe",
        "d": true,
        "name": "",
        "convertTo": "string",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "2126ad4701708fd3"
            ]
        ]
    },
    {
        "id": "f80016954e8b8805",
        "type": "convert",
        "z": "579843f855f038fe",
        "d": true,
        "name": "",
        "convertTo": "string",
        "x": 400,
        "y": 540,
        "wires": [
            [
                "16d18202241344ef"
            ]
        ]
    },
    {
        "id": "2126ad4701708fd3",
        "type": "function",
        "z": "579843f855f038fe",
        "d": true,
        "name": "function 1",
        "func": "var original = msg.payload;\nmsg.payload= 'Il fait '+original+' ° Celsius dehors';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            [
                "e7fe90eca3ff45f0"
            ]
        ]
    },
    {
        "id": "16d18202241344ef",
        "type": "function",
        "z": "579843f855f038fe",
        "d": true,
        "name": "function 2",
        "func": "var original = msg.payload;\nmsg.payload= 'Il fait '+original+\" ° Celsius à l'intérieur\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 540,
        "wires": [
            [
                "809d6c76c4b425de"
            ]
        ]
    },
    {
        "id": "6d2e89559a0da68d",
        "type": "http request",
        "z": "579843f855f038fe",
        "name": "GET to Outdoor Sensor Value",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:8082/outtempsensor",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 80,
        "wires": [
            [
                "ce5eb1c8bd97b7ad",
                "09a17d114021f666",
                "1fd23f306e3ff6a9",
                "43ad64ec9a83b417"
            ]
        ]
    },
    {
        "id": "2ccc5baf8909603b",
        "type": "inject",
        "z": "579843f855f038fe",
        "name": "Appel période Service",
        "props": [
            {
                "p": "action",
                "v": "1",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "out",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "6d2e89559a0da68d"
            ]
        ]
    },
    {
        "id": "84eecc02411da127",
        "type": "inject",
        "z": "579843f855f038fe",
        "name": "Appel période Service",
        "props": [
            {
                "p": "action",
                "v": "1",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "in",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "a1b1f195d78e0d47"
            ]
        ]
    },
    {
        "id": "a1b1f195d78e0d47",
        "type": "http request",
        "z": "579843f855f038fe",
        "name": "GET to Indoor Sensor Value",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:8081/tempsensor",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 380,
        "y": 320,
        "wires": [
            [
                "8eb2f373141c40c4",
                "ec315266ad92c231",
                "a27a37912a3d4fa6",
                "43ad64ec9a83b417"
            ]
        ]
    },
    {
        "id": "43ad64ec9a83b417",
        "type": "function",
        "z": "579843f855f038fe",
        "name": "function 6",
        "func": "context.node = context.node || 0;\ncontext.node1 = context.node1 || 0;\n\nif(msg.topic==\"in\"){\n    context.node = msg.payload;\n}\nif(msg.topic==\"out\"){\n    context.node1 = msg.payload;\n}\n\nif ((context.node > context.node1) && (context.node1 < 27) && (context.node1 > 18))\n{\n    msg.payload=\"true\";\n}\nelse{\n    msg.payload=\"false\";\n}\nmsg.topic=\"ToActuator\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 260,
        "wires": [
            [
                "92e021dba9788d1e",
                "5b9c26471f5d610a",
                "b1a8899f8760297b",
                "de30e76da1a52ad2"
            ]
        ]
    },
    {
        "id": "92e021dba9788d1e",
        "type": "debug",
        "z": "579843f855f038fe",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 360,
        "wires": []
    },
    {
        "id": "5b9c26471f5d610a",
        "type": "ui_text",
        "z": "579843f855f038fe",
        "group": "60c7fa626cf1876b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "STATE_DISPLAY",
        "label": "",
        "format": "Actuator state : {{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 320,
        "wires": []
    },
    {
        "id": "5355b0fee1d456f4",
        "type": "file in",
        "z": "579843f855f038fe",
        "name": "open_window",
        "filename": "C:\\Users\\stef-\\Downloads\\fenetre_Danline_Oknoplast.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1340,
        "y": 200,
        "wires": [
            [
                "42faf28a89500a70"
            ]
        ]
    },
    {
        "id": "42faf28a89500a70",
        "type": "base64",
        "z": "579843f855f038fe",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 1520,
        "y": 200,
        "wires": [
            [
                "c0304d6aca5201fc"
            ]
        ]
    },
    {
        "id": "b1a8899f8760297b",
        "type": "switch",
        "z": "579843f855f038fe",
        "name": "if_true",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 200,
        "wires": [
            [
                "040c99bec49461bf"
            ]
        ]
    },
    {
        "id": "28edabd41525eb01",
        "type": "file in",
        "z": "579843f855f038fe",
        "name": "closed_window",
        "filename": "C:\\Users\\stef-\\Downloads\\fenetre_fermee.png",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1340,
        "y": 160,
        "wires": [
            [
                "3f6ab4c409bb725e"
            ]
        ]
    },
    {
        "id": "3f6ab4c409bb725e",
        "type": "base64",
        "z": "579843f855f038fe",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 1520,
        "y": 160,
        "wires": [
            [
                "c0304d6aca5201fc"
            ]
        ]
    },
    {
        "id": "c0304d6aca5201fc",
        "type": "template",
        "z": "579843f855f038fe",
        "name": "Image in",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img src=\"data:image/png;base64,{{payload}}\"style=\"width=\"569\" height=\"197\"\"/>",
        "output": "str",
        "x": 1680,
        "y": 160,
        "wires": [
            [
                "7b2fc36504b3cdfe"
            ]
        ]
    },
    {
        "id": "7b2fc36504b3cdfe",
        "type": "ui_template",
        "z": "579843f855f038fe",
        "group": "60c7fa626cf1876b",
        "name": "RIO Logo",
        "order": 8,
        "width": "6",
        "height": "6",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "ImageCan",
        "x": 1840,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "de30e76da1a52ad2",
        "type": "switch",
        "z": "579843f855f038fe",
        "name": "if_false",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 900,
        "y": 160,
        "wires": [
            [
                "37152ae339e3772a"
            ]
        ]
    },
    {
        "id": "2b270b34fd27921c",
        "type": "comment",
        "z": "579843f855f038fe",
        "name": "# # Please donwload pictures of opened and closed window and put the right path for each picture in each image bloc",
        "info": "# # Please donwload pictures of opened and closed window and put the right path for each picture in each image bloc",
        "x": 1280,
        "y": 40,
        "wires": []
    },
    {
        "id": "9cb9552cc28e85af",
        "type": "comment",
        "z": "579843f855f038fe",
        "name": "This mechanism needs to be upgraded, sometimes a picture is not loaded on time and waits another message to be displayed",
        "info": "",
        "x": 1300,
        "y": 100,
        "wires": []
    },
    {
        "id": "37152ae339e3772a",
        "type": "http request",
        "z": "579843f855f038fe",
        "name": "PUT false to Actuator",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:8080/windowactuator/newvalue?state=false",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1120,
        "y": 160,
        "wires": [
            [
                "28edabd41525eb01"
            ]
        ]
    },
    {
        "id": "040c99bec49461bf",
        "type": "http request",
        "z": "579843f855f038fe",
        "name": "PUT true to Actuator",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "localhost:8080/windowactuator/newvalue?state=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1120,
        "y": 200,
        "wires": [
            [
                "5355b0fee1d456f4"
            ]
        ]
    },
    {
        "id": "1b01beee92d833de",
        "type": "mqtt-broker",
        "name": "House_monitoring",
        "broker": "10.32.44.184",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "60c7fa626cf1876b",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "15285b3ca1866f7c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "15285b3ca1866f7c",
        "type": "ui_tab",
        "name": "Home_window",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]